body {
      font-family: Helvetiva, sans-serif;
      color: black
}
a:link, a:visited{
      color: #48D1CC;
      text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
#oi{
    width: 850px;
    margin: auto;
    background: #DCDCDC;
    padding: 10px 20px;
}
header nav ul {
        list-style: none;
        padding-left: 0px;
}
header nav ul li {
        display: inline-block;
        margin-right: 40px;
}
header nav ul li a{
        font-size: 15px;
}
#opa {
    float: left;
    width: 580px;
}
#blz {
    float: right;
    width: 270px;
}
#blz ul {
    list-style: none;
}
footer{
    clear: both;
}
